## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[4, 86, 12, 15, 80, 52, 95, 97, 67, 16, 9, 41, 19, 51, 96, 7, 44, 54, 1, 98, 37, 36, 63, 68, 85, 38, 55, 74, 42, 18, 72, 73, 81, 5, 78, 60, 58, 69, 59, 28, 84, 82, 17, 83, 2, 89, 71, 62, 79, 27, 92, 11, 47, 77, 20, 0, 88, 22, 90, 57, 48, 14, 94, 34, 30, 53, 3, 76, 10, 35, 75, 6, 65, 43, 87, 45, 26, 61, 8, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))
#Yes! the lenth is 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = [random.randrange(0,100) for x in range(0,80)]
print(sample_list_2)

[34, 89, 21, 97, 51, 97, 16, 33, 0, 22, 67, 93, 69, 83, 48, 40, 98, 84, 77, 58, 51, 36, 22, 90, 59, 35, 25, 77, 17, 86, 91, 70, 47, 0, 47, 60, 87, 65, 86, 80, 83, 81, 85, 25, 54, 51, 92, 10, 33, 37, 58, 61, 93, 26, 62, 20, 48, 66, 6, 21, 37, 72, 90, 46, 62, 17, 22, 98, 13, 59, 32, 64, 83, 18, 72, 30, 10, 74, 82, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
#len(set2)
# No! the length is not the same as the values in the list are not uniques

{0, 6, 10, 13, 16, 17, 18, 20, 21, 22, 25, 26, 30, 32, 33, 34, 35, 36, 37, 40, 46, 47, 48, 51, 54, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 72, 74, 77, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 97, 98}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set([i for i in set1 if i not in set2])
print(set3)
#print('set1:', set1)
#print('set2:', set2)

{1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 14, 15, 19, 27, 28, 38, 41, 42, 43, 44, 45, 52, 53, 55, 57, 63, 68, 71, 73, 75, 76, 78, 79, 88, 94, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = [i for i in set2 if i not in set1]
print(set4)

[13, 21, 25, 33, 40, 46, 64, 66, 70, 91, 93]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = [i for i in set1 if i in set2]
print(set5)

[0, 6, 10, 16, 17, 18, 20, 22, 26, 30, 32, 34, 35, 36, 37, 47, 48, 51, 54, 58, 59, 60, 61, 62, 65, 67, 69, 72, 74, 77, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 97, 98]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
# Your code here
#set1 = 80 unique random values
print(len(set1))
#set2 = the values don't have to be unique, lenght < 80
print(len(set2))
#set3 = elements present is set1 but not in set2
print(len(set3))
#set4 = elements present in set 3 but not in set1
print(len(set4))
#set5 = elements shared between set1 and set2
print(len(set5))

#realtionships
print(len(set1) == len(set3) + (len(set5)))
print(len(set2) == len(set5) + (len(set4)))

80
54
37
11
43
True
True

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()
print(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here
set6.update(set3, set5)
len(set6)

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here
set1 == set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
set3.union(set4,set5) == set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop()
print(set1)
print(len(set1))

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(len(list_to_remove))
for x in list_to_remove:
    set1.discard(x)
print(set1)